:root {
    --gradient: linear-gradient(45deg,#ffe8a4, #98d9ff, #7ba3ff , #3668ff,#374cd7, #0006be);
}

.gradient-animation {
    background-size: 600%;
    background-image: var(--gradient);
    animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 100%;
    }
}
